.footer_bg {
background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../../../src/images/footer.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
