.banner_bg {

    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../../src/images/banner.png);
   background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}


@media screen and (min-width: 890px) {
  .banner_bg{
    height: 18rem;
  }
}

@media screen and (min-width: 1200px) {
  .banner_bg{
    height: 30rem;
  }
}